.home-container {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 20px;
  background-color: #0a0a23;
  color: #ffffff;
}

/* Tiêu đề chính */
.home-container h1 {
  text-align: center;
  font-size: 40px;
  margin-top: 7rem;
  color: #e0e0ff;
}

.hero-section {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin-bottom: 40px;
}

.hero-image {
  width: 400px;
  max-width: 90%;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
}

.hero-text {
  max-width: 500px;
  font-size: 18px;
  line-height: 1.6;
  color: gray;
}

/* Phần "What we do" */
.content {
  text-align: center;
}

.content h1 {
  margin-bottom: 50px;
  font-size: 28px;
  color: #e8e8ff;
}

.content ul {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  /* gap: 200px; */
  gap: 300px;
  margin-left: 100px;
  margin-right: 100px;
}

.content li {
  background-color: #1a1a2e;
  padding: 15px;
  border-radius: 10px;
  transition: transform 0.1s ease, box-shadow 0.1s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content li:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 20px rgba(128, 128, 255, 0.4);
}

.content img {
  width: 100%;
  height: auto;
  margin-bottom: 30px;
}

.content a {
  color: #88ccff;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s;
}

.content a:hover {
  color: #ffffff;
}
